.idea
sftp-config.json
*.sublime-project
*.sublime-workspace
/nbproject/private/
/.buildpath
/.project
/.settings
/certificados/
/web/media/cache/
web/media/cache/*
.nbproject
nbproject/*
.DS_Store
.phpintel
.phpintel/*
.DS_Store
bower_components
bower_components/*
composer.lock
vendor/bin
vendor/*
cache.properties
.sass-cache/
*.tar.gz
node_modules/*
npm-debug.log
*.db
data/*
.metadata
.vscode/*
/web/guias_anexos/*
/id_rsa
/id_rsa.pub
vendor
/vendor/
vendor/*
*.code-workspace
ocular.phar
